body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    color: red;
    position: relative;
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the element horizontally */
}

.pdf-container {
    width: 80%;
    margin: 0 auto;
}

.pdf-container iframe {
    width: 100%;
    height: 600px;
    border: none;
}

h1 {
    text-align: center;
    margin-top: 40px;
}
